<h1>músicas do Hugo!!</h1>

<script type="text/javascript" src="http://stratus.sc/stratus.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('body').stratus({
      auto_play: true,
      download: false,
      links: 'http://soundcloud.com/darthvaderlive',
      random: true
    });
  });
</script>

